// CARDS

.content {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 0 7vh 0;
}
.content h3 {
	width: 18%;
	margin-left: 7%;
	min-width: 192px;
}
.content p {
	width: 50vw;
	min-width: 300px;
	column-count: 2;
	column-gap: 2rem;
	margin-right: 2rem;
}
.gallery {
	width: 100%; height: 100%;
	z-index: 1;

	&::before {
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		content: '';
		width: 75%; height: 100%;
		margin-left: 25%;
		padding-bottom: 6rem;
		z-index: -1;
		background: hsl(0,0%,4%);
		border-radius: 3px 0 0 3px;
	}
}
.static {
	position: relative;
	display: flex;
	justify-content: center;
}
.item {
	margin: 6rem 8rem 4rem 0;
	position: relative;

	&:focus {
		outline: none;
	}
}
.item img {
	border-radius: 3px;
	box-shadow: 0 12px 32px -12px rgba(0,0,0, 0.1);
}
.gallery .item:last-of-type {
	margin-right: 0;
}
.tablet {
	width: 960px; height: 720px;
}
.portrait {
	width: 576px; height: 768px;
}
.phone {
	width: 375px; height: 667px;
}
.phoneLarge {
	width: 375px; height: 812px;
}
.desktop {
	width: 1024px; height: 720px;
}
