// CARDS

.content {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5vh 0;
}
.content h3 {
	width: 15%;
	margin-left: 10%;
	min-width: 168px;
}
.content p {
	width: 40vw;
	max-width: 580px;
	min-width: 300px;
	margin-right: 5vw;
}
.content ul li h4 {
	color: $text-third;
	line-height: 25px;
}
.gallery {
	width: 100%; height: 100%;
	z-index: 1;

	&::before {
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		content: '';
		width: 75%; height: 100%;
		margin-left: 25%;
		z-index: -1;
	}
}
.static {
	position: relative;
	display: flex;
	justify-content: center;
}
.item {
	margin: 5vh 5vw 10vh 0;
	overflow: hidden;
	border-radius: 2px;
	z-index: 2;

	&:focus {
		outline: none;
	}
}
.gallery .item:last-of-type {
	margin-right: 0;
}
.tablet {
	width: 640px; height: 480px;
}
.portrait {
	width: 480px; height: 640px;
}
.phone {
	width: 375px; height: 667px;
}
.desktop {
	width: 1024px; height: 720px;
	border-radius: 5px;
}
