// CARDS

.content {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 0 7vh 0;
}
.content h3 {
	width: 17%;
	margin-left: 8%;
	min-width: 192px;
}
.content p {
	width: 40vw;
	max-width: 720px;
	min-width: 300px;
	margin-right: 3vw;
}
.content ul li h4 {
	color: $text-third;
	line-height: 1.5;
}
.gallery {
	width: 100%; height: 100%;
	z-index: 1;

	&::before {
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		content: '';
		width: 75%; height: 100%;
		margin-left: 25%;
		padding-bottom: 6rem;
		z-index: -1;
		background: hsl(0,0%,4%);
		border-radius: 3px 0 0 3px;
	}
}
.static {
	position: relative;
	display: flex;
	justify-content: center;
}
.item {
	margin: 6rem 8rem 4rem 0;
	position: relative;

	&:focus {
		outline: none;
	}
}
.item img {
	border-radius: 3px;
}
.item span {
	font: 0.75rem/1 $body;
	font-weight: normal;
	color: $text-fifth;
	position: absolute;
	bottom: 0;
	transform: rotateZ(-90deg) translateY(13px);
	transform-origin: left;
	width: 100%;
	letter-spacing: 2px;
}
.item h6 {
	position: absolute;
	top: -22px;
	left: 0;
}
.item::before {
	content: '';
	position: absolute;
	left: -26px; top: -26px; right: -26px; bottom: -26px;
	background-color: hsl(180,2%,12%);
	z-index: -1;
	border-radius: 3px;
}
.gallery .item:last-of-type {
	margin-right: 0;
}
.tablet {
	width: 960px; height: 720px;
}
.portrait {
	width: 576px; height: 768px;
}
.phone {
	width: 375px; height: 667px;
}
.phoneLarge {
	width: 375px; height: 812px;
}
.desktop {
	width: 1024px; height: 720px;
}
