// GLOBAL

html, body, div, section, main, nav, figure, p, a, h1, h2, h3, h4, h5, h6, ul, ol, li { box-sizing: border-box; margin: 0; }
article, aside, details, figcaption, figure, footer, header, main, nav, section, video, summary { display: block; }
a:focus {
  outline: none;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
  width: 100%;
  height: 100%;
	vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
ol, ul {
	list-style: none;
	padding: 0;
}
html {
	font: 100%/1.4 $body;
	font-weight: normal;
	font-smooth: always;
	text-rendering: auto;
	color: $text-prime;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	height: 100%;
	cursor: default;
	background-color: rgb(255,255,255);
}

p a:hover, p a:focus, article a:hover, article a:focus {
	color: $link;
}
.highlighter {
	display: inline-block;
	position: relative;
	transition: color 0.15s cubic-bezier(.25, .46, .45, .94);
}
.highlighter::after {
	content: "";
	display: block;
	position: absolute;
	top: 80%;
	background-color: $link;
	height: 2px;
	border-radius: 1px;
	width: 100%;
	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: transform 0.25s cubic-bezier(.25, .46, .45, .94);
}
a:hover .highlighter::after {
	transform: scaleX(1);
}
.buttons {
	margin-top: 1rem;
	display: flex;
	justify-content: flex-start;
}
.button {
	display: inline-block;
	height: 40px;
	margin-right: 2rem;
}
.button svg {
	fill: $link;
	margin-left: 6px;
	transform: translate(0,-2px);
}
.button .highlighter {
	font: 1.125rem/40px $body;
	color: $link;
}
p .highlighter::before, article .highlighter::before  {
  content: "";
  display: block;
  position: absolute;
  background-color: hsl(180,12%,87%);
  height: 2px;
	width: 100%;
	border-radius: 1px;
}
p .highlighter::after, p .highlighter::before, article .highlighter::after, article .highlighter::before, {
	top: 90%;
}

