// TYPE

@font-face {
  font-family: 'International-Regular';
  src: url('assets/nbi-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'International-Light';
  src: url('assets/nbi-light.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

h3 {
	font: 3.25rem/0.95 $header;
	font-weight: normal;
	color: $text-prime;
	letter-spacing: -1.5px;
	text-rendering: optimizeLegibility;
}
h4 {
	font: 1.25rem/1.5 $body;
	font-weight: normal;
	color: $text-third;
}
h5 {
	font: 1.25rem/1.5 $body;
	font-weight: normal;
	color: $text-third;
}
h6 {
	font: 0.875rem/1.25 $body;
	font-weight: normal;
	color: $text-fifth;
}
p {
	font: 1.25rem/1.5 $body;
	font-weight: normal;
	color: $text-prime;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
a {
	color: inherit;
	text-decoration: none;
}
p a {
	hyphens: none;
}
em {
	font: inherit;
	color: $text-third;
	margin-right: 2rem;
}
