$text-prime: hsl(0,0%,6%);
$text-third: hsl(180,15%,65%);
$text-fifth: hsl(180,4%,54%);

$font-stack: 'Helvetica Neue', Helvetica, sans-serif;
$body: 'International-Light', $font-stack;
$header: 'International-Regular', $font-stack;
